/* VARIABLES */
$shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
$radius: 15px;

/* MIXINS */

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 31.25em) {
      @content;
    } //500px
  }
  @if $breakpoint == tab-small {
    @media only screen and (max-width: 48em) {
      @content;
    } //768px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == laptop {
    @media only screen and (max-width: 93.75em) {
      @content;
    } //1800
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-image: linear-gradient(-225deg, #cbbacc 0%, #2580b3 100%);
  background-size: cover;
  color: #fff;
  min-height: 100vh;

  @include respond(laptop) {
    padding: 5vw 0;
  }
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4 {
  font-weight: 500;
  margin: 0;
}
.heading-primary {
  // font-size: 4.13vw;
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.heading-secondary {
  // font-size: 3.03vw;
  font-size: 4.4rem;
}

.heading-tertiary {
  // font-size: 2.2vw;
  font-size: 3.2rem;
}

.heading-quatenary {
  // font-size: 1.67vw;
  font-size: 2.4rem;

  @include respond(tab-port) {
    font-size: 2rem;
  }
}

.text {
  // font-size: 1.38vw;
  font-size: 2rem;

  @include respond(tab-small) {
    font-size: 1.5rem;
  }
  @include respond(phone) {
    font-size: 1.25rem;
  }

  &--secondary {
    font-weight: 300;
  }
}

.author {
  margin: 0;
}

/* UTILITY CLASSES */
.u-mg-0 {
  margin: 0;
}

/* ANIMATION UTILITY CLASSES */

.fade-in-content {
  animation: fade-in 1s forwards ease-out !important;
  // visibility: hidden;
  opacity: 0;
}

.fade-out-content {
  animation: fade-out 1s forwards ease-out !important;
}

/* KEYFRAMES */

@keyframes skeleton-loader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    // visibility: hidden;
  }
  100% {
    opacity: 1;
    // visibility: visible;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    // visibility: visible;
  }
  100% {
    opacity: 0;
    // visibility: hidden;
  }
}
