.site-wrapper {
  width: 85vw;
  margin: 0 auto;

  @include respond(tab-land) {
    width: 90vw;
  }
}

.main-content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(-225deg, #cbbacc 0%, #2580b3 100%);
  background-size: cover;
  opacity: 1;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-day {
  width: 100%;
  margin-bottom: 3rem;
}

.upcoming-weather {
  width: 100%;
  // box-shadow: $shadow;
  // border-radius: $radius;
}
