.site-wrapper {
  height: 100vh;
  width: 100%;
}

.main-content {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  width: 75vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  opacity: 1;
  height: 100%;
  width: 100%;
}

.current-day {
  width: 100%;
  margin-bottom: 3rem;
}

.upcoming-weather {
  width: 100%;
  // box-shadow: $shadow;
  // border-radius: $radius;
}
